/*
.tweet {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px; 


  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.name {
  font-weight: 600;
}

.handle,
.time {
  color: #657786;
}

.handle::after {
  content: " \00b7";
}

.content {
  flex: 1;
}

.avatar {
  margin-right: 10px;
  width: 48px;
  border-radius: 50%;
}
	
.actions {
  display: flex;
  padding: 0;
}
.actions li {
  list-style: none;
  margin-right: 30px;
}

.actions button {
  border: none;
  color: #657786;
  font-size: 16px;
  cursor: pointer;
}
.actions button:hover {
  color: #1da1f2;
}
p, ul {
  margin: 0;
}
.author-meta, p {
  margin-bottom: 1em;
}*/
/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
html, body, #root, .room {
  height: 100%;
  margin: 0;
}
.lit {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}